#section1 {
    width: 100%;
    height: auto;
    padding-top: 55px;
}

#section1 article {
    height: 600px;
    display: flex;
}

#section1_part1 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#main_initial {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_initial h1 {
    font-size: 60px;
    font-family: montserrat;
    font-weight: normal;
    text-align: left;
    margin-bottom: 35px;
}

.text_color {
    color: #02A2C6;
}

#main_initial p {
    font-size: 25px;
    font-family: montserrat;
    text-align: left;
}

#main_initial button {
    font-size: 25px;
    font-family: arial;
    color: #fff;
    background-color: #02A2C6;
    margin: auto;
    margin-top: 10%;
    padding: 0px 10%;
    border-radius: 10px;
    transition: ease-out 0.4s;
}

#main_initial button p {
    padding: 8px;
}

#main_initial button:hover {
    transform: scale(1.05, 1.05);
}

#section1_part2 {
    width: 55%;
    height: 100%;
    background-image: url(../Images/Mulher_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#central_ajuda {
    position: fixed;
    width: auto;
    height: auto;
    background-color: #035ADE;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 40px;
    border-radius: 10px;
    z-index: 10;
}

#central_ajuda div {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

#mulher_ajuda {
    width: 45px;
    height: 45px;
}

#central_ajuda p {
    font-size: 18px;
    color: #fff;
    font-family: arial;
    padding: 0 12px;
    cursor: pointer;
}

#seta_vertical {
    width: 35px;
    height: 35px;
    cursor: pointer;
}