@keyframes efeito_1 {
    from {
        transform: scale(1.04, 1.04);
    }

    to {
        transform: scale(1, 1);
    }
}

#section1 {
    width: 100%;
    height: auto;
    padding: 6% 0 3% 0;
}

#section1 article {
    width: 100%;
    height: 600px;
    display: flex;
}

#section1_part1 {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#main_initial {
    width: 90%;
    margin: auto;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main_initial h1 {
    font-size: 55px;
    font-family: montserrat;
    font-weight: normal;
    text-align: left;
    margin-bottom: 35px;
}

.text_color {
    color: #02A2C6;
}

#main_initial p {
    font-size: 25px;
    font-family: montserrat;
    text-align: left;
}

#main_initial button {
    font-size: 25px;
    font-family: arial;
    color: #fff;
    background-color: #02A2C6;
    margin: auto;
    margin-top: 10%;
    padding: 0px 10%;
    border-radius: 10px;
    transition: ease-out 0.4s;
}

#main_initial button p {
    padding: 8px;
    font-family: arial;
}

#main_initial button:hover {
    transform: scale(1.05, 1.05);
}

#section1_part2 {
    width: 55%;
    height: auto;
}

#mulher_1_responsivo {
    display: none;
}

#mulher_1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#central_ajuda {
    position: fixed;
    width: auto;
    height: auto;
    background-color: #035ADE;
    bottom: 0;
    right: 0;
    margin-bottom: 25px;
    margin-right: 40px;
    border-radius: 10px;
    z-index: 1;
}

#central_ajuda div {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}

#mulher_ajuda {
    width: 45px;
    height: 45px;
}

#central_ajuda p {
    font-size: 17px;
    color: #fff;
    font-family: arial;
    padding: 0 12px;
    cursor: pointer;
}

#seta_vertical {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/*Responsivo Section1*/


@media only screen and (min-width:1400px) {
    
    #mulher_1 img {
        width: 80%;
        margin: auto;
    }
}

/*Responsivo Laptop*/

@media only screen and (max-width:1280px) {

    #section1 article {
        height: auto;
    }

    #section1_part1 {
        height: auto;
    }

    #main_initial h1 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    #main_initial p {
        font-size: 22px;
    }

    #main_initial button {
        margin-top: 8%;
    }

    #main_initial button p {
        display: block;
    }

    #section1_part2 {
        height: auto;
    }
}

/*Responsivo Tablet*/

@media only screen and (max-width:768px) {

    #section1_part1 {
        width: 100%;
    }

    #section1_part2 {
        display: none;
    }

    #main_initial {
        margin-left: 0;
        margin: auto;
    }

    #main_initial h1 {
        font-size: 40px;
    }

    #main_initial p {
        font-size: 20px;
    }

    #mulher_1_responsivo {
        display: block;
    }

    #main_initial button {
        position: fixed;
        width: 65%;
        bottom: 0;
        left: 17.5%;
        margin-bottom: 1%;
        z-index: 1;
        animation-name: efeito_1;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }

    #main_initial button p {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    #mulher_1_responsivo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Responsivo Celular*/

@media only screen and (max-width:480px) {

    #main_initial {
        width: 95%;
    }

    #main_initial p {
        font-size: 18px;
    }

    #main_initial button {
        width: 85%;
        left: 7.5%;
    }
}